@import url('https://fonts.googleapis.com/css2?family=Parkinsans:wght@300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Parkinsans:wght@300..800&family=Share+Tech&display=swap');

/* Page backgroud - Dark themed */
body {
    margin: 0;
    background-color: #151325;
    font-family: "Parkinsans", sans-serif;
}

/* Navbar container */
.navbar {
    background-color: #100f1b;
    padding: 20px 0;
    box-shadow: 0 2px 5px rgba(0, 255, 255, 0.1);
}

/* Unordered list styling */
.navbar ul{
    display: flex;
    justify-content: center;
    list-style: none;
    margin: 0;
    padding: 0;
}

/* list items styling */
.navbar li {
    margin: 0 30px;
    position: relative;
}

.navbar a{
    color: #3bdae2;
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    transition: color 0.3s;
}

/* underline glow effect */
.navbar li::after{
    content: '';
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 0%;
    height: 2px;
    background-color: #3bdae2;
    box-shadow: 0 0 8px #3bdae2;
    transition: width 0.3s;
}

/* hover or active link underline */
.navbar li:hover::after, 
.navbar li.active::after {
    width: 100%;
}

.navbar a:hover {
    color: #90f9ff;
}

/* about section layout */
.about {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px 10%;
    gap: 100px;
}

/* text section */
.about-text h1{
    font-size: 48px;
    color: #ff6b81;
    text-shadow: 0 0 10px rgba(255, 107, 129, 0.7);
    font-family: "Share Tech", sans-serif;
    margin: 0 0 10px;
}

.about-text h3{
    font-size: 20px;
    color: #3bdae2;
    font-family: "Share Tech", sans-serif;
    margin-bottom: 40px;
}

/* buttons */
.btn {
    padding: 12px 24px;
    border-radius: 30px;
    font-size: 16px;
    text-decoration: none;
    transition: 0.3s;
    border: 2px solid #3bdae2;
}

.btn-outline {
    color: #ffff66;
    border-color: #ffff66;
}

.btn-outline:hover{
    background-color: #ffff66;
    color: #151325;
    box-shadow: 0 0 10px #ffff66;
}

.btn-glow {
    color: #3bdae2;
}

.btn-glow:hover {
    background-color: #3bdae2;
    color: #151325;
    box-shadow: 0 0 15px #3bdae2;
}

.profile-pic {
    position: relative;
    width: 400px;
    height: 450px;
    display: inline-block;
    border-radius: 42%;
    background: radial-gradient(circle at center, rgba(0, 0, 0, 0.479) 40%, transparent 80%);
    padding: 10px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

/* image styling */
.profile-pic img {
    /* width: 100%; */
    height: 100%;
    object-fit: cover;
    object-position: center;
}